* {padding: 0; margin: 0;}

*,*:before,*:after {box-sizing: border-box;}

body {
	background: #1C1F26;
	color: #DFE1E8;
	min-height: 100vh;
	font-family: minimo;
	font-size: 150%;
}

/*-----UNIVERSAL-----*/
button {
	background: none;
	border: 2px solid;
	font-family: inherit;
	color: inherit;
	font-size: .9em;
	border-radius: 2px;
	padding: 10px 25px;
}

.currentMove {
	color: #158FCB;
	font-weight: bold;
}



/*-----LAYOUT-----*/
header {
	background: #2B303B;
	padding: 20px;
	margin: 0 0 20px;
	display: flex;
	align-items: center;
}

header > div {
	flex: 1;
}

header div#logo h1 span {
	opacity: .1;
	font-size: .75em;
}

header div#instructions {
	text-align: center;
}

header div#playAgain {
  	display: flex;
  	justify-content: flex-end;
}

div#container {
	display: flex;
}

.nowPlaying {
	flex: 1;
	align-self: center;
	text-align: center;
	font-size: 250%;
}



div#gameBoard {
	display: flex;
	flex-wrap: wrap;
	width: 21em;
}

div#gameBoard  * {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 7em;
	height: 7em;
}

div#gameBoard div {
	background: url('../img/dot.svg') no-repeat center;
	background-size: 8%;
}

span.play {
	font-size: 2em;
	font-weight: bold;
	line-height: 0;
	position: relative;
	top: 5px;
}

span.play.winner {
	color: #DDDD37;
}

