@import url(http://fonts.googleapis.com/css?family=Varela+Round);

* {padding: 0; margin: 0; outline: none;}
/*disable select*/
* {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*,*:before,*:after {box-sizing: border-box;}

$space: 16px;


body {
	background: #1C1F26;
	color: #DFE1E8;
	min-height: 100vh;
	font-family: Varela Round;
	font-size: 140%;
}

/*-----UNIVERSAL-----*/
button {
	background: none;
	border: 2px solid;
	font-family: inherit;
	color: inherit;
	font-size: .9em;
	border-radius: 2px;
	padding: 10px 25px;
	cursor: pointer;
}

.currentMove {
	color: #158FCB;
	font-weight: bold;
}


/*-----HEADER-----*/
header {
	background: #2B303B;
	padding: $space*1.5;
	margin: 0 0 $space*2;
	display: flex;
	align-items: center;
	> div {
		flex: 1;
	}
	div#logo h1 {
	// 		background: linear-gradient(to right,#2989d8 0,#22ad3c 33%,#7ece29 66%,#7db9e8 100%);
 	//  	-webkit-background-clip: text;
 	//  	-webkit-text-fill-color: transparent;
	  	span {
			opacity: .5;
			font-size: .75em;
		}
	}
	div#instructions {
		text-align: center;
	}
	div#playAgain {
	  	display: flex;
	  	justify-content: flex-end;
	}
}

/*-----CONTAINER-----*/
div#container {
	display: flex;
	.now-playing {
		flex: 1;
		align-self: center;
		text-align: center;
		font-size: 250%;
		input {
			outline: none;
			border: none;
			background: none;
			font-size: .5em;
			font-family: inherit;
			text-align: center;
			padding: $space;
			color: #f6f6f6;
		}
		.score {
			background: rgba(0,0,0,.25);
			padding: $space/1.25 $space/2 $space/2;
			font-size: .75em;
			color: #2B303A;
			border-radius: 8px;
			width: 80px;
			margin: 0 auto;
		}
	}
	/*-----GAMEBOARD-----*/
	div#game-board {
		display: flex;
		flex-wrap: wrap;
		width: 21em;
		* {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 7em;
			height: 7em;
		}
		div.piece {
			background: url('../img/dot.svg') no-repeat center;
			background-size: 8%;
			cursor: pointer;
		}
		.wincolor {
			color: red;
		}
	}
	span.play {
		font-size: 2em;
		font-weight: bold;
		line-height: 0;
		position: relative;
		top: 5px;
	}

	span.play.winner {
		color: #DDDD37;
	}
}



