@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {padding: 0; margin: 0; outline: none;}
/*disable select*/
* {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*,*:before,*:after {box-sizing: border-box;}

$space: 2%;
$darkgrey: #1A1D24;
$lightgrey: #2B3039;
$blue: #158FCB;
$black: #14161B;
$white: #DFE1E8;


body {
	background: $darkgrey;
	color: $white;
	min-height: 100vh;
	font-family: Varela Round;
	font-size: 140%;
}

/*-----UNIVERSAL-----*/
button {
	background: none;
	border: 2px solid;
	font-family: inherit;
	color: inherit;
	font-size: .9em;
	border-radius: 2px;
	padding: 10px 25px;
	cursor: pointer;
}

.currentMove {
	color: $blue;
	font-weight: bold;
}


/*-----HEADER-----*/
header {
	background: $lightgrey;
	padding: $space;
	display: flex;
	align-items: center;
	> div {
		flex: 1;
	}
	div#logo h1 {
	  	span {
			opacity: .25;
			font-size: .75em;
			margin: 0 $space/4;
		}
	}
	div#instructions {
		text-align: center;
	}
	div#playAgain {
	  	display: flex;
	  	justify-content: flex-end;
	}
}

/*-----NAV-----*/

nav {
	text-align: right;
	padding: $space;
	span {
		color: $lightgrey;
		text-shadow: 0 0 1px $black;
		cursor: pointer;
		transition: color .2s;
	}
	span:hover {
		transform: scale(1.1);
		color: $blue;
	}
}

/*-----CONTAINER-----*/

div#container {
	display: flex;
	> * {
		flex: 1;
		text-align: center;
	}
	div#game-board {
		flex: 1.5;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		div.piece {
			width: 33.333333%;
			height: 150px;
			background: url('../img/dot.svg') no-repeat center;
			background-size: 5%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2em;
			cursor: pointer;
			transition: all .2s;
			&:hover {
				background-size: 8%;
			}
		}
	}
	div.now-playing {
		align-self: center;
		text-align: center;
		font-size: 200%;
		.score {
			background: rgba(0,0,0,.25);
			padding: $space/1.25 $space/2 $space/2;
			font-size: .75em;
			color: $lightgrey;
			border-radius: 8px;
			width: 80px;
			margin: 0 auto;
		}
	}

	/* CHAT */



	div#chat {
		text-align: left;
		padding: 0 $space;
		transition: .7s all;
		input, textarea {
			background: none;
			border: none;
			font-size: inherit;
			color: inherit;
			font-family: inherit;
		}
		textarea {
			height: 300px;
			resize: none;
		}
	}
	div#chat.close {
		display: none;
		flex: 0;
	}
	div#chat.open {
		display: block;
		flex: 1;
	}
}/* end container */




