<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Tic, Tac, Toe</title>
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
	<script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body ng-controller="TheGame as game">

	<header>
		<div id="logo">
			<h1>tic<span>/</span>tac<span>/</span>toe</h1>
		</div>

		<div id="instructions">
			<p>{{game.gamePlay.announce}}</p><p>{{game.gamePlay.playerTurn}}</p>
		</div>
		
		<div id="playAgain">
			<button ng-click="game.resetGame(game.gamePlay.spaces)" ng-show="game.gamePlay.playAgain">Play Again</button>
		</div>
	</header>

	<nav>
		<span id="trigger" ng-model="game.chatOpen" ng-click="game.chatPanel();" ng-class="{notify: game.gamePlay.chatNotify}"><i class="fa fa-comments"></i></span>
	</nav>




	<div id="container">

		<div class="now-playing" id="now-playingX">
			<h2 ng-class="{currentMove: game.gamePlay.currentMove}">X</h2>
			<div class="score"><h3>{{game.gamePlay.scoreX}}</h3></div>
		</div><!-- now-playingX -->


		<div id="game-board">
			<div ng-repeat="piece in game.gamePlay.spaces" ng-click="game.setMove(piece)" class="piece">
				<h3>{{piece.move}}</h3>
			</div><!-- piece -->
		</div><!-- gameBoard -->


		<div class="now-playing" id="now-playingO">
			<h2 ng-class="{currentMove: !game.gamePlay.currentMove}">O</h2>
			<div class="score"><h3>{{game.gamePlay.scoreO}}</h3></div>
		</div><!-- nowPlayingO -->

		<div id="chat" ng-class="{close : !game.chatOpen, open: game.chatOpen}">
			<form ng-submit="game.sendChat(game.gamePlay.chatBox)">
				<textarea ng-model="game.gamePlay.chatDisplay" disabled rows="60"></textarea>
				<input ng-model="game.gamePlay.chatBox" type="text" placeholder="chat here...">
			</form>
		</div>

	</div><!-- container -->


	

</body>
</html>