<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Tic, Tac, Toe</title>
	<link rel="stylesheet" type="text/css" href="css/style.min.css">
	<script type="text/javascript" src="js/angular.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="TheGame as game">

	<header>
		<div id="logo">
			<h1>tic<span>/</span>tac<span>/</span>toe</h1>
		</div>

		<div id="instructions">
			<p>{{game.announce}}</p><p>it's your turn <span ng-show="!game.currentMove">X</span><span ng-show="game.currentMove">O</span>.</p>
		</div>
		
		<div id="playAgain">
			<button>play again</button>
		</div>
	</header>


	<div id="container">

		<div class="now-playing" id="now-playingX">
			<h2 ng-class="{currentMove: !game.currentMove}">X</h2>
			<h3 class="score">-</h3>
		</div><!-- now-playingX -->


		<div id="game-board">
			<div ng-repeat="piece in game.pieces">
				<div ng-click="game.setMove(piece)" class="piece piece-{{piece.num}}"><h3>{{piece.move}}</h3></div><!-- piece -->
			</div>
		</div><!-- gameBoard -->


		<div class="now-playing" id="now-playingO">
			<h2 ng-class="{currentMove: game.currentMove}">O</h2>
			<h3 class="score">-</h3>
		</div><!-- nowPlayingO -->

	</div><!-- container -->
	

</body>
</html>